---
# Page meta info, like heading, footer text and nav links
pageInfo:
  title: {{ dashy_page_title }}
  description: {{ dashy_page_description }}
{% if dashy_page_footer_text  %}
  footerText: {{ dashy_page_footer_text }}
{% endif %}
{% if dashy_page_logo  %}
  logo: {{ dashy_page_logo }}
{% endif %}
{% if dashy_page_nav_links is defined and dashy_page_nav_links  %}
  navLinks:
{{ dashy_page_nav_links | to_nice_yaml(indent=2, width=9999) | indent(2, true) }}
{% endif %}

# Optional app settings and configuration
appConfig:
  language: {{ dashy_app_language }}
  startingView: {{ dashy_app_starting_view }}
  statusCheck: {{ dashy_app_status_check }}
  allowConfigEdit: {{ dashy_app_allow_config_edit }}
  showSplashScreen: {{ dashy_app_show_splash_screen }}
  disableUpdateChecks: {{ dashy_app_disable_update_checks }}
  theme: {{ dashy_app_theme }}

# Main content - An array of sections, each containing an array of items
sections:
{% if dashy_page_sections is defined and dashy_page_sections  %}
{{ dashy_page_sections | to_nice_yaml(indent=2, width=9999) }}
{% else %}
- name: Getting Started
  icon: fas fa-rocket
  items:
  - title: Dashy Live
    description: Development a project management links for Dashy
    icon: https://i.ibb.co/qWWpD0v/astro-dab-128.png
    url: https://live.dashy.to/
    target: newtab
  - title: GitHub
    description: Source Code, Issues and Pull Requests
    url: https://github.com/lissy93/dashy
    icon: favicon
  - title: Docs
    description: Configuring & Usage Documentation
    provider: Dashy.to
    icon: far fa-book
    url: https://dashy.to/docs
  - title: Showcase
    description: See how others are using Dashy
    url: https://github.com/Lissy93/dashy/blob/master/docs/showcase.md
    icon: far fa-grin-hearts
  - title: Config Guide
    description: See full list of configuration options
    url: https://github.com/Lissy93/dashy/blob/master/docs/configuring.md
    icon: fas fa-wrench
  - title: Support
    description: Get help with Dashy, raise a bug, or get in contact
    url: https://github.com/Lissy93/dashy/blob/master/.github/SUPPORT.md
    icon: far fa-hands-helping
{% endif %}
